{
	"root": true,
	"extends": [
		"wordpress",
		"plugin:react/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"react"
	],
	"rules": {
		"react/react-in-jsx-scope": "off"
	}
}
