# Ignore everything:
/*

# Whitelist what you want tracked:
!/dev/
!/languages/

!.babelrc
!composer.json
composer.lock
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!gulpfile.bable.js
!LICENSE
package-lock.json
!package.json
phpcs.xml.dist
!README.md
!screenshot.png
!.travis.yml
