# Ignore everything:
/*

# Whitelist what you want tracked:
!/dev/
!/languages/

!.babelrc
!composer.json
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!gulpfile.bable.js
!LICENSE
!package.json
!phpcs.xml.dist
!README.md
!screenshot.png
!.travis.yml
