language: php
sudo: false

notifications:
  email:
    on_success: never
    on_failure: change

cache:
  directories:
    - node_modules
    - vendor
    - $HOME/phpunit-bin
    - $HOME/deployment-targets

addons:
  apt:
    packages:
      - libxml2-utils

language:
  - php
  - node_js

node_js:
  - "6"

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

env:
  - WP_VERSION=latest WP_MULTISITE=0
  - WP_VERSION=trunk WP_MULTISITE=1

install:
  - composer install
  - export DEV_LIB_PATH=vendor/wp-dev-lib/scripts
  - source $DEV_LIB_PATH/travis.install.sh

script:
  - source $DEV_LIB_PATH/travis.script.sh

after_script:
  - source $DEV_LIB_PATH/travis.after_script.sh

jobs:
  include:
    - stage: deploy
      if: type = push AND fork = false AND ( branch =~ ^[a-z][a-z0-9-]{0,10}$ OR branch =~ ^[0-9]+\.[0-9]+$ ) AND NOT branch IN ( live, test, dev, settings, team, support, debug, multidev, files, tags, billing )
      script:
        - |
          eval "$(ssh-agent -s)"
          pantheon_branch=$( echo $TRAVIS_BRANCH | sed 's/^\([0-9]\)/v\1/' | sed 's/[^a-z0-9-]/-/' )
          if [[ $pantheon_branch == develop ]]; then
            pantheon_branch=master
          fi
          echo "Initializing deployment to Pantheon branch: $pantheon_branch"
          openssl aes-256-cbc -K $encrypted_3011b3a3cb72_key -iv $encrypted_3011b3a3cb72_iv -in bin/keys/id_rsa_amp-start-travel.enc -out bin/keys/id_rsa_amp-start-travel -d
          chmod 600 bin/keys/id_rsa_amp-start-travel
          ./bin/deploy-travis-pantheon.sh \
            amp-start-travel \
            1db95c6b-7eab-4749-9416-ce7a9165df0c \
            $(pwd)/bin/keys/id_rsa_amp-start-travel \
            $pantheon_branch
