.rating {
    --star-size: 2.2;
    padding: 0;
    border: none;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    user-select: none;
    font-size: 2.4em;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

/* the stars */
.rating > label {
    display: inline-block;
    position: relative;
    width: 1.8em;
    font-size: 0.7em;
    padding: 0;
}

.rating > *:hover,
.rating > *:hover ~ label,
.rating:not(:hover) > input:checked ~ label {
    color: transparent;  /* reveal the contour/white star from the HTML markup */
    cursor: inherit;  /* avoid a cursor transition from arrow/pointer to text selection */
}

.rating > *:hover:before,
.rating > *:hover ~ label:before,
.rating:not(:hover) > input:checked ~ label:before {
    content: "★";
    position: absolute;
    left: -0.08em;
    color: #47b074;
    font-size: 1.4em;
    top: -0.22em;
}

.rating > input {
    position: relative;
    transform: scale(4);
    transform: scale(var(--star-size));
    top: -.5em;
    margin-left: -2.5em;
    z-index: 2;
    opacity: 0;
    font-size: initial;
}

.travel-results-results-stars {
    position: relative;
}

.travel-results-results-stars-empty-small,
.travel-results-results-stars-empty {
    position: absolute;
    left: 0;
    font-size: 1.4em;
    opacity: 0.4;
    color: #ccc;
}

.travel-results-results-stars-empty-small {
    font-size: 1em;
}

.travel-results-results-stars-solid {
    min-height: 40px;
    font-size: 1.4em;
    position: relative;
}

.travel-results-results-stars-solid-small {
    position: relative;
    color: #47b074;
}